<h2>Entered Games</h2>
  <% @entered_user_games.each do |game| %>
    <%= link_to("#{game.away_team} at #{game.home_team}", edit_game_path(game)) %></br>
      <% if @boxes.size > 1 %>
        <%= "#{@boxes.size} boxes picked" %>
      <% else %>
        <%= "1 box picked" %>
      <% end %>
  <% end %>
  <h2>Active Games</h2>
  <% @active_user_games.each do |game| %>
    <%= link_to("#{game.away_team} at #{game.home_team}", game_path(game)) %></br>
    <% @boxes.by_game(game).each do |box| %>
      <div class="row">
        <%= render partial: "boxes/box", :locals => { :box => box, :winning_boxes => @winning_boxes } %>
        <%= "#{game.away_team}: #{box.away_team_num} and #{game.home_team}: #{box.home_team_num}" %>
      </div>
    <% end %>
  <% end %>
  <h2>Completed Games</h2>
  <% @complete_user_games.each do |game| %>
    <%= link_to("#{game.away_team} at #{game.home_team}", game_path(game)) %></br>
    <% @boxes.by_game(game).each do |box| %>
      <div class="row">
        <%= render partial: "boxes/box", :locals => { :box => box, :winning_boxes => @winning_boxes } %>
        <%= "#{game.away_team}: #{box.away_team_num} and #{game.home_team}: #{box.home_team_num}" %>
      </div>
    <% end %>
  <% end %>
</div>
<%= link_to("Edit User Info", edit_user_path(@current_user)) %>