<!-- Check to see if there's a better way to submit this besides value.  Seems like it could be hacked.  -->

<%= form_for box do |f| %>

  <% if box.away_team_coord == "A" %>
    <tr>
    <td class="home-score-cell"><h3 class="text-center"><%= box.home_team_coord %></h3></td>
  <% end %>

  <% if box.user_id == nil %>
    <td>
      <%= button_tag(type: 'submit', class: "btn btn-primary btn-lg", id: "#{box.home_team_coord}#{box.away_team_coord}") do %>
        <%= content_tag(:i,"", class: "fa fa-th-large fa-fw") %>
      <% end %>
    </td>
  <% elsif box.user_id == @current_user.id %>
    <td>
      <%= button_tag(type: 'submit', class: "btn btn-success btn-lg", id: "#{box.home_team_coord}#{box.away_team_coord}") do %>
        <%= content_tag(:i,"", class: "fa fa-check fa-fw") %>
      <% end %>
    </td>
  <% else %>
    <td>
      <%= button_tag(type: 'submit', class: "btn btn-danger btn-lg", id: "#{box.home_team_coord}#{box.away_team_coord}") do %>
        <%= content_tag(:i,"", class: "fa fa-lock fa-fw") %>
      <% end %>
    </td>
  <% end %>

  <% if box.away_team_coord == "J" %>
    </tr>
  <% end %>

<% end %>
