<% unless first_winning_name.nil? %>
<p>
  <% if second_winning_name.nil? %>
    <%= "Winning: " %>
  <% else %>
    <%= "Winner: " %>
  <% end %>
<%= "Name: #{first_winning_name}" unless first_winning_name.nil? %>
<%= "#{@game.home_team}: #{@game.first_quarter_home_score} #{@game.away_team}: #{@game.first_quarter_away_score}" %>
</p>
<% end %>
<% unless second_winning_name.nil? %>
<p>
  <% if third_winning_name.nil? %>
    <%= "Winning: " %>
  <% else %>
    <%= "Winner: " %>
  <% end %>
<%= "Name: #{second_winning_name}" unless second_winning_name.nil? %>
<%= "#{@game.home_team}: #{@game.second_quarter_home_score} #{@game.away_team}: #{@game.second_quarter_away_score}" %>
</p>
<% end %>
<% unless third_winning_name.nil? %>
<p>
  <% if fourth_winning_name.nil? %>
    <%= "Winning: " %>
  <% else %>
    <%= "Winner: " %>
  <% end %>
<%= "Name: #{third_winning_name}" unless third_winning_name.nil? %>
<%= "#{@game.home_team}: #{@game.third_quarter_home_score} #{@game.away_team}: #{@game.third_quarter_away_score}" %>
</p>
<% end %>
<% unless fourth_winning_name.nil? %>
<p>
  <%= "Winning: "%>
<%= "Name: #{fourth_winning_name}" unless fourth_winning_name.nil? %>
<%= "#{@game.home_team}: #{@game.fourth_quarter_home_score} #{@game.away_team}: #{@game.fourth_quarter_away_score}" %>
</p>
<% end %>