<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Josefin+Sans|Sanchez|Titillium+Web:900' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if @current_user %>
    <header style="text-align: center">
      <h1><%= link_to 'Boxes', root_path %></h1>
    </header>
    <%= render 'layouts/flash' %>
    <%= "Hey, #{@current_user.name} " %>
    <%= link_to 'Sign Out', signout_path %>
  <% else %>
    <div class='login-div'><a href=''>Boxes</a></div>
    <%= render 'layouts/flash' %>
  <% end %>

  <div class="page-content">
    <%= yield %>
  </div>

</body>
</html>
