<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta id="myViewport" name="viewport" content="width = 525">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

    <% if @current_user %>
<header>
  <input type="checkbox" id="toggle"/>
  <label for="toggle" id="toggle-btn"></label>
  <div class="nav-icon"></div>
  <nav data-state="close">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">My Games</a></li>
      <li><a href="#">My Boxes</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Signout</a></li>
    </ul>
  </nav>
</header>

    <%= render 'layouts/flash' %>
    <% else %>
    <%= render 'layouts/flash' %>
    <% end %>

    <div class="page-content">
      <%= yield %>
    </div>

  </body>
</html>