<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Josefin+Sans|Sanchez|Titillium+Web:900' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, height = device-height, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-transparent">
</head>
<body>

  <% if @current_user %>
    <header>
      <h1 id="banner"><%= link_to 'BOXED IN', root_path %></h1>
      <h4 id="user-greeting"><%= "Hey, #{@current_user.name} " %></h4><%= link_to 'Sign Out', signout_path %>
      <div class="button_container" id="toggle">
  <span class="top"></span>
  <span class="middle"></span>
  <span class="bottom"></span>
</div>
    </header>

    <div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li ><a href="#">Games</a></li>
      <li><a href="#">My Boxes</a></li>
      <li><a href="#">Profile</a></li>
      <%= link_to 'Sign Out', signout_path %>
    </ul>
  </nav>
</div>


    <%= render 'layouts/flash' %>
  <% else %>
    <%= render 'layouts/flash' %>
  <% end %>

<div class="page-content">
  <%= yield %>
</div>

</body>
</html>


